@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @layer base {


        @layer base {
            :root {
                --background: 238 61% 99%;
                --foreground: 238 65% 4%;
                --muted: 238 5% 94%;
                --muted-foreground: 238 8% 28%;
                --popover: 238 61% 98%;
                --popover-foreground: 238 65% 3%;
                --card: 238 61% 98%;
                --card-foreground: 238 65% 3%;
                --border: 238 7% 93%;
                --input: 238 7% 93%;
                --primary: 238 93% 47%;
                --primary-foreground: 0 0% 100%;
                --secondary: 238 6% 82%;
                --secondary-foreground: 238 6% 22%;
                --accent: 238 14% 75%;
                --accent-foreground: 238 14% 15%;
                --destructive: 8 85% 33%;
                --destructive-foreground: 8 85% 93%;
                --ring: 238 93% 47%;
                --radius: 0.5rem;
            }

            .dark {
                --background: 238 31% 2%;
                --foreground: 238 28% 100%;
                --muted: 238 5% 6%;
                --muted-foreground: 238 8% 72%;
                --popover: 238 31% 3%;
                --popover-foreground: 0 0% 100%;
                --card: 238 31% 3%;
                --card-foreground: 0 0% 100%;
                --border: 238 7% 15%;
                --input: 238 7% 15%;
                --primary: 238 93% 47%;
                --primary-foreground: 0 0% 100%;
                --secondary: 238 18% 20%;
                --secondary-foreground: 238 18% 80%;
                --accent: 238 27% 28%;
                --accent-foreground: 238 27% 88%;
                --destructive: 8 85% 47%;
                --destructive-foreground: 0 0% 100%;
                --ring: 238 93% 47%;
            }
        }

    }

}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply dark:bg-background bg-white;
        min-width: 100%;
    }

    body[data-scroll-locked] {
        min-width: 100%;
    }
}